In [2]:
# Import Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import time

# Import API key
from api_keys import g_key

# Store Part I results into DataFrame

In [5]:
# Load the csv exported in Part I to a DataFrame
cities_weather = pd.read_csv("../WeatherPy/output_data/cities.csv")
cities_weather.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,busselton,-33.6500,115.3333,62.04,89,99,30.49,AU,1623258100
1,1,karratha,-20.7377,116.8463,74.88,57,98,8.19,AU,1623257834
2,2,barrow,71.2906,-156.7887,35.91,84,71,6.15,US,1623257689
3,3,ushuaia,-54.8000,-68.3000,46.06,49,75,0.00,AR,1623257696
4,4,rikitea,-23.1203,-134.9692,72.68,65,100,15.23,PF,1623257843

# Humidity Heatmap

In [22]:
#Configure gmaps.
#Use the Lat and Lng as locations and Humidity as the weight.
#Add Heatmap layer to map.

# Configure gmaps
gmaps.configure(api_key = g_key)

# Store latitude and longitude 
locations = cities_weather[["Lat", "Lng"]]

# Store hunidity
humidity = cities_weather["Humidity"]

# Plot Heatmap
fig = gmaps.figure(center=(30.0, -1.0), zoom_level=2 )

# Add heat layer to map
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=100, point_radius=3)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))